@font-face {
  font-family: 'SCDream';
  font-weight: 400;
  src: url('/assets/fonts/SCDream4.otf');
}

body {
  font-family: SCDream;
  width: 300px;
  line-height: 1.6;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 20px 0px 0px 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

img.dropbtn_click {
  float: right;
}

/* styles.css */
.tab-menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tab-menu li {
  width: 33.333%;
  color: white;
  padding: 8px 0px 8px 0px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.tab-content {
  margin: 0px;
  padding: 0px;
}

.tab-content .content {
  display: none;
  background-color: white;
}

#popup-edge {
  padding: 7px 5px 5px 5px;
  margin: 0px;
  height: 550px;
}

.tab-content .scheduleTable.current {
  display: inherit;
  border: 100%;
  height: 520px;
  overflow: auto;
}

.tab-content .noticeTable.current {
  display: inherit;
  border: 100%;
  height: 520px;
  overflow: auto;
}

.tab-content .settings.current {
  display: inherit;
  border: 100%;
  height: 450px;
  background-color: white;
  overflow: auto;
}

.settExplaination {
  color: grey;
  margin-bottom: 40px;
  margin-left: 5px;
  margin-top: 8px;
}

#settings {
  padding: 15px;
}

.styledTable,
table {
  border-collapse: separate;
  border-spacing: 1;
  width: 100%;
}
.styledTable .Year {
  font-weight: 900;
  text-align: center;
}
.styledTable th,
.styledTable td {
  padding: 6px 15px;
}
.styledTable th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
.styledTable tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.styledTable tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.styledTable td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
.styledTable td:first-child {
  border-left: 1px solid #c6c9cc;
}
.styledTable tr:nth-child(even) td {
  background: #eaeaed;
}
.styledTable tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
.styledTable tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0rem;
  cursor: pointer;
  margin: 5px 0px 0px 0px;
}

[type='checkbox'] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
  font-size: 20px;
}

[type='checkbox']::before {
  content: '';
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type='checkbox']:checked {
  background-color: tomato;
  border-color: tomato;
}

[type='checkbox']:checked::before {
  background-color: white;
  left: 1em;
}

[type='checkbox']:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}

[type='checkbox']:disabled:before {
  background-color: lightgray;
}

[type='checkbox']:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type='checkbox']:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid tomato;
}

[type='checkbox']:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

.color-1 {
  background-color: #024d97;
}

.color-2 {
  background-color: #0275ce;
}

.color-3 {
  background-color: #02ba6e;
}

.dropdown-label {
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
  color: rgb(50, 50, 50);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn_icon {
  font-family: 'Material Icons';
}
.dropbtn {
  display: block;
  border: 2px solid rgb(94, 94, 94);
  border-radius: 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color: rgb(124, 124, 124);
  padding: 7px;
  width: 240px;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  z-index: 1;
  position: relative;
  margin: 8px 5px 0px 5px;
}

.dropbtn_content {
  line-height: 24px;
}

.dropdown-content {
  display: none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width: 240px;
  border-radius: 8px;
  height: 160px;
  overflow: scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
  margin-left: 5px;
  position: absolute;
  z-index: 50;
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
.dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(194, 194, 194);
}

.dropdown-content div {
  display: block;
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 12px;
  padding: 12px 20px;
}
.dropdown-content div:hover {
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show {
  display: block;
}

.versionBox {
  width: 125px;
  color: #a4e6cb;
}

.versionBox.Right {
  text-align: right;
  padding-right: 15px;
}

.versionContainer {
  width: auto;
  margin: 0 auto;
  position: fixed;
  bottom: 15px;
}

.yourMajor {
  width: 290px;
  position: fixed;
  bottom: 6px;
  text-align: center;
  font-size: 14px;
  color: #94c9f3;
  cursor: pointer;
}

.studentSupply {
  width: 290px;
  position: fixed;
  bottom: 6px;
  text-align: center;
  font-size: 14px;
  color: #94c9f3;
  cursor: pointer;
}

#majorNoticeToggle {
  text-align: center;
  cursor: pointer;
}

#majorNoticeRefresh {
  width: 10px;
  cursor: pointer;
}


.hide {
  display: none;
}

#toggleImg {
  width: 16px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
}

#refreshImg {
  width: 16px;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
}

#majorNoticeRefresh:hover #refreshImg{
  /* 마우스 호버 시 이미지 색상 파란 색으로 변경 */
  filter: invert(8%) sepia(100%) saturate(7484%) hue-rotate(248deg) brightness(97%) contrast(143%); 
}

.generalNotice {
  color: blue;
}

#toggleText {
  padding: 0px;
  margin: 0px;
  line-height: 16px;
}

#majorNoticeToggle:hover #toggleText {
  color: blue;
}
